<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sample.lyon.things.pithingsbluetooth">

    // 使用蓝牙设备的权限
    <uses-permission android:name="android.permission.BLUETOOTH" />
    // 管理蓝牙设备的权限
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="ndroid.permission.LOCATION_MAC_ADDRESS"/>
    //进行蓝牙相关操作
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.things.permission.MANAGE_BLUETOOTH"/>

    <application
        android:name=".AppController"
        android:label="@string/app_name">
        <uses-library android:name="com.google.android.things" android:required="false"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PermissionsActivity"
            android:theme="@style/AppThemeP34missions"
            android:screenOrientation="sensorLandscape"
            />
        <service android:name=".Bluetooth.BluetoothService" android:enabled="true"/>
    </application>

</manifest>